<IfModule mod_rewrite.c>
    RewriteEngine On


    # Mantém a lógica de reescrita para o sistema
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
